
<div class="character-card">
  <a class="character-link" [routerLink]="['/character-details', character.id]">
    <div class="character-card__image">
      <img [src]="character.image" [alt]="character.name" />
    </div>
  </a>
  <div class="character-card__info">
    <a class="character-link" [routerLink]="['/character-details', character.id]">
      <h2 class="character-card__info__name">{{ character.name | slice: 0:15}}</h2>
    </a>
    <img 
      (click)="toggleFavorite()" 
      [src]="favorite ? 'assets/icons/heart-full.svg' : 'assets/icons/heart-empty.svg'" 
      alt="Favorite button"
    >
  </div>
</div>
