@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixins";
@import "../../../../styles/base/typography";


.character-link {
  text-decoration: none;
}

.character-card {
  @include padding(2.5);

  width: 20vw;
  background-color: $neutral-dark-grey;
  border-radius: 10px;

  &__image {
    display: flex;
    justify-content: center;
    width: 100%;

    img {
      width: 95%;
      cursor: pointer;
    }
  }

  &__info {
    @include margin(2.5);
    display: flex;
    justify-content: space-between;

    &__name {
      font-size: 1.5em;
      color: $white;
    }

    img {
      width: 2em;
      cursor: pointer;
    }
  }
}