$spacing: 4px;
$border-radius: 60px;
$border-radius-small: 8px;
$border-radius-create: 10px;

$primary-color: #3078b3;
$secondary-color: #142d4c;
$extra-color: #8fc2e0;

$transparent-blue: #bbf5f7a9;
$more-transparent-blue: #8fc2e01c;
$transparent-black: #aba0a0;

$black: black;
$neutral-dark-grey: #272936;
$shadow-black-primary: #00000040;
$shadow-black-secondary: #0000001a;
$neutral-black: #444444;
$grey: grey;
$coolGray: #374151;

$sea-blue: #0070AD;
$neutral-background-blue: #F4F8FB;
$vibrant-blue: #12ABDB;
$light-blue: #E8EFF4;

$purple: #2b0d3b;
$primary-deep-purple: #2B0A3D;
$dark-grey: #282936;

$kpi-green :#97C11D;
$kpi-orange :#F6F6FA;
$kpi-red :#B12D23;

$white: #FAFAFA;
$light-white: #FFFFFF;
$light-gray3 :#F9F9F9;
$light-gray2 :#F3F3F3;
$light-gray :#ECECEC;
$mid-gray :#B2B2B2;
$dark-gray :#707070;
$neutral-gray: #808080;
