<div class="character-details" *ngIf="character">
  <div class="character-details__info">
    <div class="character-details__info__left">
      <h1>{{character.name}}</h1>
      <img [src]="character.image" [alt]="character.name" />
    </div>
    <div class="character-details__info__right">
      <p>Specie: {{character.species}}</p>
      <p>Gender: {{character.gender}}</p>
      <p>Status: {{character.status}}</p>
    </div>
  </div>
  <button (click)="onGoBack()" class="character-details__back">
    Back
  </button>
</div>

